<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>学习jsplumb</title>
        <style>
            .descr {
                border: 1px solid black;
                background-color: #d3d4ea;
                margin-bottom: 20px;
                padding: 10px;
            }
            .item {
                width: 100px;
                height: 50px;
                background-color: #ddd;
                border: 1px solid black;
                display: inline-block;
            }
            #item_right {
                position: relative;
                top: 200px;
                left: 300px;
            }
        </style>
    </head>
    <body>
        <div class="descr">
            本实例内容：拖动创建连接
        </div>
        <div id="diagramContainer">
            <div id="item_left" class="item"></div>
            <div id="item_right" class="item"></div>
        </div>
    </body>
</html>