<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>学习jsplumb</title>
    </head>
    <body>
        <p>
            jsPlumb分为社区版和企业版，社区版免费，企业版收费。
            <p>
                官方社区版本文档：http://jsplumb.github.io/jsplumb/home.html
            </p>
        </p>
        <div>
            <h3>入门实例</h3>
            <ol>
                <li><a href="./jsplumb001.html">连接两个节点</a> <br></li>
                <li><a href="./jsplumb002.html">可拖动节点</a> <br></li>
                <li><a href="./jsplumb003.html">连接的其他参数</a> <br></li>
                <li><a href="./jsplumb004.html">设置连接的默认值</a> <br></li>
                <li><a href="./jsplumb005.html">给连接加上样式</a> <br></li>
                <li><a href="./jsplumb006.html">给连接加上箭头</a> <br></li>
                <li><a href="./jsplumb007.html">增加一个端点</a> <br></li>
                <li><a href="./jsplumb008.html">拖动创建连接</a> <br></li>
                <li><a href="./jsplumb009.html">给端点增加样式</a> <br></li>
                <li><a href="./jsplumb010.html">节点改变尺寸</a> <br></li>
                <li><a href="./jsplumb011.html">限制节点拖动区域</a> <br></li>
                <li><a href="./jsplumb012.html">节点网格对齐</a> <br></li>
                <li><a href="./jsplumb013.html">Events</a> <br></li>
                <li><a href="./jsplumb014.html">删除节点，包括节点相关的连接</a> <br></li>
                <li><a href="./jsplumb015.html">通过编码连接endPoint</a> <br></li>
                <li><a href="./jsplumb016.html">连接前的检查，判断是否建立连接</a> <br></li>
                <li><a href="./jsplumb017.html">一个端点如何拖拽出多条连线</a> <br></li>
                <li><a href="./jsplumb018.html">整个节点作为source或者target</a> <br></li>
                <li><a href="./jsplumb019.html">节点缩放</a> <br></li>
                <li><a href="./jsplumb020.html">jsPlumb默认配置简介</a> <br></li>
                <li><a href="./jsplumb021.html">jsPlumb组的使用</a> <br></li>
            </ol>
        </div>
        <hr>
        <p>
            <h3>复杂一点的案例</h3>
            <div>
                <ol>
                    <li><a href="./jsplumbCase01.html">jsplumbCase01</a> <br></li>
                    <li><a href="./jsplumbCase02.html">jsplumbCase02</a> <br></li>
                </ol>
            </div>
        </p>
    </body>
</html>